
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 25px;
    /* border: 1px solid #0e1012; */
    width : 600px;
    height: 50px;
    padding-top: 10px;
}
li:hover{
    cursor: pointer;
}
